# Snowshoe hares at Bonanza Creek Experimental Forest

### Week 3 - Discussion section

[Link to instructions](https://meds-eds-220.github.io/MEDS-eds-220-course/discussion-sections/ds3-hares.html)

Date: 2024-10-17

## Archive exploration 

Brief description: Data is about Snowshoe hares in the Bonanza Creek Experimental Forest. This species is a known keystone species in boreal forests. The study comprised of capture-recapture surveys at 5 locations in Tanana valley from the years 1999-06-01 to 2002-09-14. It was revealed that snowshoe hare densities decreased during this time frame. 

The data has columns that include location info and body measurements of the hares. 


Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2024-10-17).
 
![Snowshoe hare image](https://meds-eds-220.github.io/MEDS-eds-220-course/discussion-sections/ds3-hares.html#:~:text=Go%20to-,this%20link,-.)

## Data loading and preliminary exploration

In [3]:
# Import libraries 
import pandas as pd 
import numpy as np

# Read in data 
# load in data 
df = pd.read_csv('https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701')

In [6]:
# Data exploration 

# Dimensions of the data 
df.shape

(3380, 14)

In [7]:
# Types of data 
df.dtypes

date           object
time           object
grid           object
trap           object
l_ear          object
r_ear          object
sex            object
age            object
weight        float64
hindft        float64
notes          object
b_key         float64
session_id      int64
study          object
dtype: object

In [8]:
# Viewing the data 
df.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

In [12]:
# Info and non-null observations 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3380 entries, 0 to 3379
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3380 non-null   object
 1   time        264 non-null    object
 2   grid        3380 non-null   object
 3   trap        3368 non-null   object
 4   l_ear       3332 non-null   object
 5   r_ear       3211 non-null   object
 6   sex         3028 non-null   object
 7   age         1269 non-null   object
 8   weight      2845 non-null   float64
 9   hindft      1633 non-null   float64
 10  notes       243 non-null    object
 11  b_key       3333 non-null   float64
 12  session_id  3380 non-null   int64
 13  study       3217 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 369.8+ KB

In [18]:
# Minimum value for weight 
print("The min weight is", df['weight'].min(), "grams")

# Maximum value for weight 
print("The max weight is", df['weight'].max(), "grams")

The min weight is 0.0 grams
The max weight is 2365.0 grams

In [21]:
# Minumum value for hind feet 
print("The min hind foot dimension is", df['hindft'].min())

# Maximum value for hind feet 
print("The max hind foot dimension is", df['hindft'].max())

The min hind foot dimension is 60.0
The max hind foot dimension is 160.0

In [36]:
# Unique values for the sex columns 
df['sex'].value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

In [37]:
# Unique values for the grid column 
df['grid'].value_counts()

bonrip     2030
bonbs       929
bonmat      260
Bonbs       152
bonmat        9
Name: grid, dtype: int64

In [38]:
# Unique values for the trap column 
df['trap'].value_counts()

3e     75
1c     65
1e     64
2e     61
4c     60
       ..
1e      1
6b      1
2c      1
5c      1
4b      1
Name: trap, Length: 121, dtype: int64